@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.background-aside {
		@apply
		w-screen
		h-screen
		fixed
		top-0
		z-10
		cursor-pointer
		transition-colors
		duration-300
		bg-backgroundAside

		dark:bg-backgroundAsideD
	}

	.aside {
		@apply
		h-screen
		fixed
		right-0
		top-0
		opacity-100
		z-20
		border-l
		w-10/12
		transition-colors
		duration-300
		bg-white
		border-gray

		dark:bg-black 
		dark:border-borderD

		sm:w-auto
	}

	.aside-header {
		@apply
		border-b
		mt-6
		px-6
		pb-6
		h-auto
		items-center
		transition-colors
		duration-300
		border-gray

		dark:border-borderD

		md:mt-12
		md:px-12
		md:pb-12

		2xl:mt-14
		2xl:px-14
		2xl:pb-14
	}

	.aside-header-container {
		@apply
		border
		flex
		group
		border-gray

		dark:group-hover:border-primary
		group-hover:border-primary
	}

	.aside-search {
		@apply
		text-muted
		bg-background
		text-2xl
		p-3
	}

	.aside-input {
		@apply
		bg-background
		p-3
		pl-0
		w-full

		sm:w-72
		md:w-60
		2xl:w-80
	}

	.aside-navigation {
		@apply
		p-6
		border-b
		transition-colors
		duration-300
		border-gray

		dark:border-borderD

		md:p-12
		2xl:p-14
	}

	.aside-navigation-container {
		@apply
		pb-6
		border-b
		transition-colors
		duration-300
		border-gray

		dark:border-borderD
	}

	.aside-link {
		@apply
		font-raleway
		text-xs
		uppercase
		cursor-pointer
		transition-colors
		duration-300
		text-dark

		dark:text-white
		dark:hover:text-primary

		hover:text-primary

		2xl:text-sm
	}

	.aside-link-title {
		@apply
		font-bold
		tracking-widest
		pb-3
		transition-colors
		duration-300
	}

	.aside-link-subtitle {
		@apply
		font-light
		tracking-wide
		transition-colors
		duration-300
	}

	.aside-button-container {
		@apply
		p-6

		md:p-12
		2xl:p-14
	}

	.aside-button {
		@apply
		w-full
		border
		py-4
		uppercase
		font-raleway
		text-xs
		font-bold
		tracking-wider
		transition-colors
		duration-300
		text-dark
		border-gray

		dark:text-white
		dark:hover:text-primary

		hover:border-primary
		hover:text-primary

		2xl:text-sm
	}
}
