@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.background-aside {
		@apply
		w-screen
		h-screen
		bg-backgroundAside
		fixed
		top-0
		z-10
		cursor-pointer
	}

	.aside {
		@apply
		h-screen
		fixed
		right-0
		top-0
		bg-white
		opacity-100
		z-20
		border-l
		border-gray
		w-10/12

		sm:w-auto
	}

	.aside-header {
		@apply
		border-b
		border-gray
		mt-6
		px-6
		pb-6
		h-auto
		items-center

		md:mt-12
		md:px-12
		md:pb-12

		2xl:mt-14
		2xl:px-14
		2xl:pb-14
	}

	.aside-header-container {
		@apply
		border
		flex
		border-gray
		group
		group-hover:border-primary
	}

	.aside-search {
		@apply
		text-muted
		bg-background
		text-2xl
		p-3
	}

	.aside-input {
		@apply
		bg-background
		p-3
		pl-0
		w-full

		sm:w-72
		md:w-60
		2xl:w-80
	}

	.aside-navigation {
		@apply
		p-6
		border-b
		border-gray

		md:p-12
		2xl:p-14
	}

	.aside-navigation-container {
		@apply
		pb-6
		border-b
		border-gray
	}

	.aside-link {
		@apply
		font-raleway
		text-xs
		text-dark
		uppercase
		cursor-pointer
		transition-colors
		duration-300

		hover:text-primary

		2xl:text-sm
	}

	.aside-link-title {
		@apply
		font-bold
		tracking-widest
		pb-3
	}

	.aside-link-subtitle {
		@apply
		font-light
		tracking-wide
	}

	.aside-button-container {
		@apply
		p-6

		md:p-12
		2xl:p-14
	}

	.aside-button {
		@apply
		w-full
		border
		border-gray
		py-4
		uppercase
		font-raleway
		text-xs
		font-bold
		tracking-wider
		text-dark
		transition-colors
		duration-300

		hover:border-primary
		hover:text-primary

		2xl:text-sm
	}
}
