@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.header {
		@apply
		w-full
		border-b
		flex
		justify-between
		sticky
		top-0
		z-10
		transition-colors
		duration-300
		bg-white
		border-gray

		dark:bg-black 
		dark:border-borderD
	}

	.header-logo {
		@apply
		font-raleway
		font-bold
		tracking-widest
		text-dark
		px-6 py-3
		uppercase
		text-xs
		cursor-pointer
		flex
		items-center
		border-gray

		dark:text-white 
		dark:border-borderD
		dark:hover:text-primary

		transition-colors
		duration-300
		transform

		hover:text-primary

		md:py-5
		lg:border-r
		2xl:py-6
		2xl:text-sm
	}

	.header-nav {
		@apply
		hidden
		py-4
		items-center

		lg:flex
		2xl:py-6
	}

	.header-nav-item {
		@apply
		border-r
		px-5
		transition-colors
		duration-300
		border-gray

		dark:border-borderD
	}

	.header-link {
		@apply
		font-raleway
		font-normal
		tracking-widest
		text-xs
		uppercase
		text-muted

		dark:text-gray
		dark:hover:text-primary

		transition-colors
		duration-300

		hover:text-primary

		2xl:text-sm
	}

	.header-icon {
		@apply
		px-6
		border-l
		border-gray
		text-muted

		dark:border-borderD 
		dark:text-gray
		dark:hover:text-primary

		transition-colors
		duration-300

		hover:text-primary
	}
}
