@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.projects-container {
		@apply
		mx-5
		pt-10
		pb-3
		border-t
		transition-colors
		duration-300
		border-gray

		dark:border-borderD

		md:grid
		md:grid-cols-12
		md:gap-6
		md:m-0
		md:pb-10

		xl:inline-block
		xl:border-none
		xl:w-1/4
		xl:float-left
	}

	.project {
		@apply
		w-full
		mb-7
		border
		transition-colors
		duration-300
		bg-white
		border-gray

		dark:border-borderD 
		dark:bg-black

		md:col-span-6
		md:mb-3

		xl:mb-10
	}

	.project-image {
		@apply
		w-full
		cursor-pointer
	}

	.project-body {
		@apply
		flex
		items-center
		justify-between
		p-4
	}

	.project-title {
		@apply
		font-bold
		uppercase
		font-raleway
		text-xs
		tracking-widest
		leading-7
		cursor-pointer
		transition-colors
		duration-300
		text-dark

		dark:text-white
		dark:hover:text-primary

		hover:text-primary

		2xl:text-sm
	}

	.project-date {
		@apply
		font-normal
		uppercase
		font-raleway
		text-xs
		tracking-widest
		transition-colors
		duration-300
		text-muted

		dark:text-gray
	}

	.project-author {
		@apply
		w-10
		rounded-full
		cursor-pointer
	}
}
