@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.title-container {
		@apply
		flex
		flex-col
		items-center
		py-14 px-5
		border-b
		w-full
		transition-colors
		duration-300
		border-gray

		dark:border-borderD

		lg:border-0
		xl:border-b
		xl:w-1/4
		xl:items-start
		xl:px-0
		xl:float-left
	}

	.title {
		@apply
		text-xl
		my-5
		uppercase
		font-raleway
		font-bold
		tracking-widest
		text-center
		transition-colors
		duration-300
		text-dark

		dark:text-white

		md:text-3xl
		xl:text-left
	}

	.title-subtitle {
		@apply
		text-xs
		uppercase
		font-raleway
		tracking-widest
		text-center
		leading-7
		transition-colors
		duration-300
		text-dark

		dark:text-gray

		lg:text-left
		lg:leading-9
		xl:text-sm
	}
}
